extends ../layouts/default

block variables
	- const title = "About page";

block content
	h1.heading About page
	p.info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod autem voluptate provident dolores hic exercitationem ratione tempore corporis fugiat distinctio dolor delectus, explicabo nihil magnam? Perspiciatis eius impedit quos ea.