extends ../layouts/default

block variables
	- const title = "Main block";

block content
    div.container
        div.main__content
            section.section
                h3 section
            aside.aside
                h3 aside    