header.header
    div.container
        div.header__wrap
            a(class="header__logo" href="#") LOGO

            div.header__nav
                ul.nav__list
                    li.nav__item
                        a(class="nav__link" href="/") Home
                    li.nav__item
                        a(class="nav__link" href="/about") About us
                    li.nav__item
                        a(class="nav__link" href="/login") Login        